/* marketScreen.css */

body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.title {
  font-size: 3em;
  font-weight: 700;
  color: #58a6ff;
  margin: 0;
}

.search-bar {
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  border-radius: 12px;
  border: 1px solid #30363d;
  background-color: #21262d;
  color: #c9d1d9;
  font-size: 1.2em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition:
    border 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.search-bar:focus {
  border-color: #58a6ff;
  outline: none;
  background-color: #30363d;
}

.market-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #161b22;
  border-radius: 12px;
  overflow: hidden;
}

.market-table th,
.market-table td {
  padding: 20px;
  text-align: left;
  font-size: 1em;
}

.market-table thead {
  background-color: #21262d;
}

.market-table th {
  color: #8b949e;
  font-weight: 600;
}

.market-table tr {
  border-radius: 12px;
  transition:
    background 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.market-table tr:hover {
  background-color: #2d333b;
  transform: scale(1.01);
}

.market-table td {
  border-top: 1px solid #30363d;
  border-bottom: 1px solid #30363d;
}

.market-table tr:first-child td {
  border-top: none;
}

.market-table tr:last-child td {
  border-bottom: none;
}

.positive {
  color: #16c784;
  font-weight: bold;
}

.negative {
  color: #ea3943;
  font-weight: bold;
}

@media (max-width: 768px) {
  .market-table th,
  .market-table td {
    padding: 15px;
    font-size: 0.9em;
  }
}
